@using DateMe.Functions
@using System.Threading

@model DateMe.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Start";
}

<div class="jumbotron">
    <h1>@Resource.Jumbotron_Greeting</h1>

    <p class="lead">@Resource.Jumbotron_Text</p>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a href="@Url.Action("Register","Auth")" class="btn btn-primary btn-lg">@Resource.Jumbotron_Button &raquo;</a>
        </p>
    }
</div>

<h3>@Resource.MemberRoll</h3>
<div class="row-centered">
    <div class="col-md-1"></div>
    @foreach (var u in Model.ExampleUsers)
    {
        <div class="col-md-2 col-centered">
            <p style="font-weight: bold; margin: 0;">@u.UserData.Nickname</p>
            <p style="margin: 0;">@u.UserData.Gender.Substring(0, 1)@UserUtilities.DateToAge(u.UserData.DateOfBirth), @u.UserData.Location.City</p>

            @if (@User.Identity.IsAuthenticated) {
            <a href="@(Url.Action("U", "Profile", new { id = @u.Id }))">
                <img src="@u.UserData.PhotoPath" height="120" />                
            </a>
            } else {
            <a href="@(Url.Action("Register", "Auth"))">
                <img src="@u.UserData.PhotoPath" height="120" />
            </a>
            }



        </div>
    }
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>@Resource.FirstColumnHeader</h4>
        <p>@Resource.FirstColumnText</p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">@Resource.ButtonLearnMore &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h4>@Resource.SecondColumnHeader</h4>
        <p>@Resource.SecondColumnText</p>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">@Resource.ButtonLearnMore &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h4>@Resource.ThirdColumnHeader</h4>
        <p>@Resource.ThirdColumnText</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">@Resource.ButtonLearnMore &raquo;</a></p>
    </div>
</div>
@if (Request.QueryString["lang"] != "sv")
{
    <a href="?lang=sv">Visa på svenska</a>
}
else
{
    <a href="?lang=en">Show in english</a>
}