@using DateMe.Functions
@model DateMe.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">DateMe&trade; is the world's leading venue for singles looking to pork oh so hard</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row-centered">
    @foreach (var u in Model.ExampleUsers)
    {
        <div class="col-md-2 col-centered">
            <p style="font-weight: bold; margin: 0;">@u.UserData.Nickname</p>
            <p style="margin: 0;">@u.UserData.Gender.Substring(0, 1)@UserUtilities.DateToAge(u.UserData.DateOfBirth), @u.UserData.Location.City</p>

            <a href="@(Url.Action("Register", "Auth"))">
                <img src="@u.UserData.PhotoPath" height="120"/>
            </a>

        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register and create your profile to meet your dream gal or lad straight away!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unique profile matching</h2>
        <p>Compare your interests to other singles to find your perfect match</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming soon: DateMe Premium</h2>
        <p>In a near future, for just $10 a month, premium members will get access to exclusive new features</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>