@using DateMe.Functions
@using DateMe.ViewModels
@model DateMe.ViewModels.ProfileViewModel

@{
    ViewBag.Title = @Model.Nickname + "'s profile";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="profile_bold">
            @Model.Nickname (@Model.Location.City, @Model.Location.Country)
        </h2>
        <h4>
            @Model.Age year old @Model.Gender.ToLower() looking for @Model.LookingFor
        </h4>

        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="@Model.PhotoPath" alt="@Model.Nickname's Profile Picture" id="profile_picture"/>
        @if (!UserUtilities.AreFriends(Model.Id))
        {
            <small><button class="btn btn-default btn-sm" id="btn-add-friend">Add as friend</button></small>
        }
    </div>

    <div class="col-md-9">

            <h4 class="profile_bold" id="send-message-title">Send a message to @Model.Nickname</h4>

            <form id="send-message-form">
                <textarea class="form-control" id="message_text" data-bind="value: messageText"></textarea>
                <button data-bind="click: function() { sendMessage('@Model.Id') }" type="button" id="message_send1" class="btn btn-sm">Send</button>
            </form>
            <p id="message_status"></p>

        <hr/>

        <h4 class="profile_bold">Description</h4>

        <p id="profile_description">
            @Model.Description
        </p>

    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/profile.css")" />
}

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script src="/Scripts/Knockout/messageviewmodel.js"></script>
    <script>
        $(function() {
            $("#btn-add-friend").click(function () {
                var self = this;
                $.post("/api/friends/@Model.Id", function (data) {
                    $(self).text("Friend request sent!");
                    $(self).attr("disabled", true);
                });
            });
        });
    </script>
}















